
<div class="container">

<h2>Temperature Conversion</h2>
<div fxLayout="column">
    <form [formGroup]="dataForm">   
    <h4>From</h4>
    <div>
        <div fxLayout="row" fxLayoutGap="30px">
            <mat-form-field appearance="fill" class="child1">
                <mat-label>Conversion unit</mat-label>
                <mat-select (selectionChange)="Calculate()" formControlName="unitSelectedFrom">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let unit of units" [value]="unit.value">{{unit.description}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="child-2">
                <mat-label>Please enter a value</mat-label>
                <input matInput type="number"  (input)="Calculate()" formControlName="calculatedValueFrom">
            </mat-form-field>
        </div>
        <h4>To</h4>
        <div fxLayout="row" fxLayoutGap="30px">
            <mat-form-field appearance="fill"  class="child1">
                <mat-label>Conversion unit</mat-label>
                <mat-select (selectionChange)="Calculate()" formControlName="unitSelectedTo" >
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let unit of units" [value]="unit.value">{{unit.description}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field  class="child2">
                <mat-label>Result</mat-label>
                <input matInput type="number" (input)="Calculate()" formControlName="calculatedValueTo"> 
            </mat-form-field>
        </div>
    </div>
</form>
</div>